h1{
    font-size: 64px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d5e9d5;
}
label{
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d5e9d5; /* Green */;
    
}
h2{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d5e9d5;
}
body{
    background-color: #320032;
}
.container{
    text-align: center;
    padding: 60px;
    /* background-color: aqua; */
    background-image: url( 'images/endless-constellation.svg' );
    height: 100%;
}
.form{
    display: flex;
    flex-direction: column;

    gap: 30px;
}
.formHeading{
    display: flex;
    flex-direction: column;
    
    gap: 40px;
}
.sentence{
    width: 200px;
    height: 24px;
    background-color: #d5e9d5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.col{
    align-items: center;
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #d5e9d5;
    color: #4CAF50;
    border: 2px #4CAF50;
}



